.sectionPrincipal{
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;


}

.sectionForm{
    border: solid #005695;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.sectionTitulo{
    border: solid red;
    display: flex;
    align-items: center;
    height: 30%;
    width: 50%;
    justify-content: space-around;
    color: #005695;
    font-size: 24px;
}

.inputs{
    border: solid red;
    display: flex;
    flex-direction: column;
    height: 20vh;

    input{
        flex-direction: column;
    }
}