.sectionPrimeiro{
    display: flex;
    flex-direction: column;
    height: 60vh;
   // align-items: center;
   // justify-content: space-evenly;
   h2{
    height: 10%;
   }
}

.livroDoado{
    border: solid 3px #005695;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: column;
    width: 10%;
    height: 45%;   
    
}